<h1>Burger List</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}
      {{!-- <button data-burgerid="{{this.id}}" class="delmovie">Delete Movie</button> --}}
    </p>
  </li>
  {{/each}}
</ul>